/* 
hamburger(ハンバーガーアイコン)
=================================== */

header {
  background-color: #6699ff;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  /* position: fixed;  */
  /* ウィンドウを基準に画面に固定 */
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 26px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 42px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 16px;
}

.hamburger__line--3 {
  top: 32px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 350px; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}

/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

/* メニュー一覧の'・'を非表示 */
li {
  list-style: none;
}

ul.menu-list li {
  margin-bottom: 10px;
}

/* メニューボタンの装飾 */
.menu,
a.menu,
button.menu {
  font-weight: 100;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.menu--orange,
a.menu--orange {
  color: #fff;
  background-color: #eb6100;
}
.menu--orange:hover,
a.menu--orange:hover {
  color: #fff;
  background: #f56500;
}

/* .box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #6699FF;
  width:240px;
}
.box h2 {
  margin: 0; 
  padding: 0;
} */
