/* .title {
  margin-left: 10%;
}

/* トップページの文字の位置 */
.toppage{
  /* left: 100px; */
  margin-left: 60px;
}

.account {
  position: absolute;
  right: 80px;
  top: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}
.red-tide ul li {
  float: left;
  width: 32%;
  text-align: center;
  display: block;
}

/* .inquiry {
  margin-left: 5%;
}

textarea.inquiry-form {
  width: 90%;
  height: 400px;
  margin-left: 5%;
}

input.send {
  bottom: 50px;
  margin-left: 80%;
  position: relative; 
  top: 20px;
} */

/* ボタン */
/* *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
} */

/* html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%; 
} */

.btn,
a.btn,
button.btn {
  font-size: 1.5rem;
  /* font-weight: 00; */
  /* line-height: 1.5; */
  /* position: relative; */
  /* display: inline-block; */
  /* padding: 1rem 4rem; */
  /* cursor: pointer; */
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none; */
  /* -webkit-transition: all 0.3s; */
  /* transition: all 0.3s; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* text-decoration: none; */
  /* letter-spacing: 0.1em; */
  /* color: #212529; */
  /* border-radius: 0.5rem; */
}

.btn--orange,
a.btn--orange {
  color: black;
  /* background-color: #eb6100; */
}

.btn--orange:hover,
a.btn--orange:hover {
  color: black;
  /* background: #f56500; */
}

a.btn--orange.btn--border-solid {
  border: 2px solid black;
}

/* 
hamburger(ハンバーガーアイコン)
=================================== */

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 350px; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
} */