/* .title {
  margin-left: 10%;
}

/* トップページの文字の位置 */
.toppage{
  /* left: 100px; */
  margin-left: 60px;
}

h2 {
  margin-left: 5%;
  margin-top: 50px
}

.account {
  position: absolute;
  right: 80px;
  top: 20px;
  /* width: 150px; */
  height: 40px;
  cursor: pointer;
  /* z-index: 300; */
}

.photo {
  text-align: center;
  position:relative;
  top: 100px;
}

h3 {
  text-align: center;
}

.red-tide ul li {
  float: left;
  width: 32%;
  text-align: center;
  display: block;
  position:relative;
  top: 180px;
}

/* .inquiry {
  margin-left: 5%;
}

textarea.inquiry-form {
  width: 90%;
  height: 400px;
  margin-left: 5%;
}

input.send {
  bottom: 50px;
  margin-left: 80%;
  position: relative; 
  top: 20px;
} */

/* ボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
} */

.btn,
a.btn,
button.btn {
  /* font-size: 1.6rem; */
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

/* ログインボタン */
.login,
a.login,
button.login {
  /* font-size: 1.6rem; */
  font-weight: 100;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 2px 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.login--orange,
a.login--orange {
  color: #fff;
  background-color: #eb6100;
}
.login--orange:hover,
a.login--orange:hover {
  color: #fff;
  background: #f56500;
}

