.box {
  padding: 0.5em 1em;
  /* margin: 2em 0; */
  font-weight: bold;
  border: solid 3px #6699ff;
  width: 240px;
  margin-top: 100px;
  margin-left: 15%;
}
.box h2 {
  margin: 0;
  padding: 0;
}

.reset {
  position: relative;
  top: 55px;
  margin-left: 12%;
}

input.add {
  /* width: 100%; */
  position: relative;
  top: 40px;
}

.send {
  position: relative;
  top: 40px;
}
