h1 {
  text-align: center;
  position: relative;
  top: 200px;
}

.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #6699ff;
  width: 240px;
}
.box h2 {
  margin: 0;
  padding: 0;
}

.return {
  position: relative;
  top: 200px;
  /* line-height: 0px; */
  /* margin-left: 0%; */
}
